
WSGIPythonPath {{ site_web_root }}/.virtualenv/
WSGIPassAuthorization On

<VirtualHost *:80>

        WSGIDaemonProcess {{ webapp_username }} user={{ webapp_username }} group={{ webapp_username }} display-name=%{GLOBAL} python-path={{ site_web_root }}/project/:{{ site_web_root }}/.virtualenv/lib/python2.7/site-packages:{{ site_web_root }}/.virtualenv/lib/python2.7 processes={{ wsgi_process }} threads=1
        WSGIProcessGroup {{ webapp_username }}

        WSGIScriptAlias / {{ site_web_root }}/project/project/wsgi.py

        DocumentRoot {{ site_web_root }}
        <Directory / >
                Options FollowSymLinks
                AllowOverride None
        </Directory>
        <Directory {{ site_web_root }}/ >
                Options FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                Allow from all
        </Directory>
        <Directory {{ site_web_root }}/static/ >
            Require all granted
        </Directory>
        <Directory {{ site_web_root }}/project/project/ >
                <Files wsgi.py>
                        Require all granted
                </Files>
        </Directory>
</VirtualHost>
