{% extends 'ci8/base_site.html' %}
{% load staticfiles %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static 'ci8/background3.jpg' %}')">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
        <h1>{{ title }}</h1>
        <span class="subheading">Code with love/hate</span>
      </div>
    </div>
  </div>
</div>
</header>


<div class="container">
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h5>About</h5>
        <p>I am Christian an italian Software Engineer and I live near Turin. I love computers and technologies and I like to work in different sectors, jumping from frontend to backend using always new tools.</p>
    </div>

    <div class="col-lg-8 col-md-10 mx-auto">
        <h5>Goals</h5>
        <p>I try to search always the best way to do all things in terms of good and fast development and using the best practice.</p>
    </div>

    <div class="col-lg-8 col-md-10 mx-auto">
        <h5>Experience</h5>
        <p>
          For 3 years I have been working on the mobile applications for iOS and Android devices and I reached a good level of experience with Android Studio, fragment, Xcode, storyboard and CoreData.
        </p>
        <p>
          I have started to work with Python and Django since 2014, I have increased my skils and after a few years of experience I have designed, developed and mantained the web application of Realisti.co with the REST API, obtaining a test coverage of 94% thanks to Selenium and a Jenkins continuos integration testing. I have also designed and mantained an AWS infrastructure with 10 machines using Ansible and I have worked and mantained on a deploy script that allows to deploy without downtime.
        </p>
        <p>
          I'm interested in software security (I have done some CTF and security assessment), electronics (in my spare time I designed PCB for personal project) and embedded systems.
        </p>
    </div>
</div>
</div>

{% endblock %}
