{% load i18n staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="{% static 'ci8/images/apple152.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/mstile144.png">
    <link rel="icon" href="{% static 'ci8/images/favicon32.png' %}" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#E53935">

    <title>{% block title %}{{ title }}{% endblock %}</title>

    {% block sharemeta %}
    {% trans 'I am Christian an italian Software Engineer and I live near Turin. I love computers and technologies and I like to work in different sectors, jumping from frontend to backend using always new tools.'|capfirst as default_description %}

    <!-- Facebook/G+ (open graph) -->
    <meta property="og:site_name" content="{% if og_site_name %}{{ og_site_name }}{% else %}Christian Bianciotto{% endif %}">
    <meta property="og:url" content="{% if og_url %}{{ og_url }}{% else %}https://ci8.it/{{ path }}{% endif %}"/>
    <meta property="og:title" content="{% block fb_title %}{% if og_title %}{{ og_title }}{% else %}Christian Bianciotto{% endif %}{% endblock %}"/>
    <meta property="og:description" content="{% block description %}{% if description %}{{ description }}{% else %}{{ default_description }}{% endif %}{% endblock %}"/>
    <meta property="og:type" content="{% if og_type %}{{ og_type }}{% else %}{% if og_video %}video.other{% else %}article{% endif %}{% endif %}">

    {% if og_video %}
    <meta property="og:video" content="{{ og_video }}">
    {% if og_video_secure %}<meta property="og:video:secure_url" content="{{ og_video_secure }}">{% endif %}
    <meta property="og:video:type" content="{% if og_video_type %}{{ og_video_type }}{% else %}application/x-shockwave-flash{% endif %}">
    <meta property="og:video:width" content="{% if og_video_width %}{{ og_video_width }}{% else %}640{% endif %}">
    <meta property="og:video:height" content="{% if og_video_height %}{{ og_video_height }}{% else %}360{% endif %}">
    {% endif %}

    <meta property="og:image" content="{% if og_image %}{{ og_image }}{% else %}https://ci8.it{% static '/ci8/images/share/ci8.jpg' %}{% endif %}"/>
    <meta property="og:image:type" content="{% if og_image_type %}{{ og_image_type }}{% else %}image/jpeg{% endif %}" />
    <meta property="og:image:width" content="{% if og_image_width %}{{ og_image_width }}{% else %}1200{% endif %}" />
    <meta property="og:image:height" content="{% if og_image_height %}{{ og_image_height }}{% else %}630{% endif %}" />

    <meta property="og:locale" content="en_GB" />

    <!-- Facebook/G+ (open graph) -->

    <!-- Facebook -->
    <meta property="fb:app_id" content="1397207160419791">
    <!-- Facebook -->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ciotto87">
    <meta name="twitter:creator" content="@ciotto87">
    <meta name="twitter:url" content="{% if og_url %}{{ og_url }}{% else %}https://ci8.it/{{ path }}{% endif %}">
    <meta name="twitter:title" content="{% block tw_title %}{% if og_title %}{{ og_title }}{% else %}Christian Bianciotto{% endif %}{% endblock %}">
    <meta name="twitter:image" content="{% if og_image %}{{ og_image }}{% else %}https://ci8.it{% static '/ci8/images/share/ci8.jpg' %}{% endif %}">
    <meta name="twitter:description" content="{% block fb_description %}{% if description %}{{ description }}{% else %}{{ default_description }}{% endif %}{% endblock %}">
    <!-- Twitter -->

    <!-- SEO -->
    <link rel="canonical" href="https://ci8.it/{{ path }}" />

    <meta name="description" content="{% block tw_description %}{% if description %}{{ description }}{% else %}{{ default_description }}{% endif %}{% endblock %}">

    <meta name="robots" content="{% if robots %}{{ robots }}{% else %}index, follow{% endif %}" />
    <!-- SEO -->
    {% endblock %}

    <!-- CSS  -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'ci8/css/clean-blog.min.css' %}" rel="stylesheet">
    <link href="{% static 'ci8/css/jquery-eu-cookie-law-popup.css' %}" rel="stylesheet">
    <link href="{% static 'ci8/css/style.css' %}" rel="stylesheet">
    {% block extra-style %}{% endblock %}
</head>
<body>
{% block header %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top{% block header-classes %}{% endblock %}" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="{% static 'ci8/images/logo.png' %}" alt="C8 Logo">{% block extra_logo %}{% endblock %}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for p in pages %}<li class="nav-item">
                    <a class="nav-link"  href="{{ p.path }}">{{ p.name }}</a>
                </li>{% endfor %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/christian-bianciotto-b797a240" target="_blank">
                            <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/ciotto" target="_blank">
                            <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/ciotto87" target="_blank">
                            <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:mail@ci8.it" target="_blank">
                            <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; ci8.it 2019</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}


<!--  Scripts-->
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'ci8/js/jquery-eu-cookie-law-popup.js' %}"></script>
<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<!-- Custom scripts for this template -->
<script src="{% static 'ci8/js/clean-blog.min.js' %}"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73152077-1', 'auto');
    ga('send', 'pageview');

</script>
{% block extra-footer-script %}{% endblock %}

</body>
</html>
