{% extends 'ci8/base_site.html' %}
{% load i18n staticfiles %}

{% block title %}The Crocs Options{% if title %} - {{ title }}{% endif %}{% endblock %}

{% block fb_title %}The Crocs Options{% if title %} - {{ title }}{% endif %}{% endblock %}
{% block tw_title %}The Crocs Options{% if title %} - {{ title }}{% endif %}{% endblock %}

{% block extra_logo %}<span>The Crocs Options</span>{% endblock %}

{% block description %}{% if description %}{{ description }}{% else %}{% trans 'Something about all.' %}{% endif %}{% endblock %}

{% block fb_description %}{% if description %}{{ description }}{% else %}{% trans 'Something about all.' %}{% endif %}{% endblock %}
{% block tw_description %}{% if description %}{{ description }}{% else %}{% trans 'Something about all.' %}{% endif %}{% endblock %}


{% block content %}
{% block content-title %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static 'ci8/background1.jpg' %}')">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
        <h1>The Crocs Options{% if title %} - {{ title }}{% endif %}</h1>
        <span class="subheading">{% if description %}{{ description }}{% else %}{% trans 'Something about all.' %}{% endif %}</span>
      </div>
    </div>
  </div>
</div>
</header>
{% endblock %}
{% endblock %}
