{% extends 'ci8/blog.html' %}
{% load i18n staticfiles %}

{% block content %}
{{ block.super }}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for a in articles %}<div class="post-preview">
              <a href="{{ a.path }}">
                <h2 class="post-title">
                  {{ a.title }}
                </h2>
                <h3 class="post-subtitle">
                  {{ a.description }}
                </h3>
              </a>
              <p class="post-meta">last update {{ a.lastmod }}</p>
            </div>
            <hr>{% endfor %}
        </div>
    </div>
</div>

<hr>
{% endblock %}
