{% extends 'ci8/base_site.html' %}
{% load staticfiles %}

{% block title %}The Crocs Options{% if title %} - {{ title }}{% endif %}{% endblock %}

{% block fb_title %}The Crocs Options{% if title %} - {{ title }}{% endif %}{% endblock %}
{% block tw_title %}The Crocs Options{% if title %} - {{ title }}{% endif %}{% endblock %}

{% block extra_logo %}<span>The Crocs Options</span>{% endblock %}

{% block header-classes %} dark{% endblock %}

{% block content %}
<div class="container md">
    <div class="col-lg-10 mx-auto">
        {{ md|safe }}
    </div>
    <div class="col-lg-10 mx-auto text-right">
        <em>Last update on {{ lastmod }}</em>
    </div>
</div>
{% endblock %}
