{% extends 'ci8/blog.html' %}
{% load i18n staticfiles %}

{% block content %}
{{ block.super }}
<div class="container">
{% if tags %}
<div class="col-lg-10 mx-auto tags">
    <i class="fa fa-tags text-secondary"></i>
    {% for tag in tags %}<a href="tags.html#{{ tag.0}}">{{ tag.1 }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
</div>
{% endif %}
{% if lastmod %}
<div class="col-lg-10 mx-auto text-secondary">
    <em>Last update on {{ lastmod }}</em>
</div>
{% endif %}
</div>
{% endblock %}

{% block footer %}
<div id="disqus_thread" class="col-lg-8 col-md-10 mx-auto"></div>
{{ block.super }}
{% endblock %}

{% block extra-footer-script %}
{% if not disable_comments %}
<script>
var disqus_config = function () {
  this.page.url = 'http://ci8.it/{{ path }}';  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = '{{ path }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ci8.disqus.com/embed.js';
s.setAttribute('data-timestamp', + new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
{% endblock %}
