/* Custom Stylesheet */
body {
    font-size: 16px;
}

.navbar-brand img {
    height: 38px;
}
.navbar-brand span {
    padding-left: 10px;
    font-size: 18px;
}
@media only screen and (min-width: 768px) {
    .navbar-brand span {
        font-size: 24px;
    }
}

#mainNav.dark {
    background: #343a40cc;
    border-bottom: 1px solid #343a40;
}
#mainNav.dark .navbar-brand,
#mainNav.dark .navbar-nav>li.nav-item>a,
#mainNav.dark .navbar-toggler {
    color: #fff;
}

@media only screen and (min-width: 992px) {
    #mainNav .navbar-brand {
        padding: 0 10px;
    }
    #mainNav.is-fixed {
        top: -57px;
    }
}

.photographer-credit {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}

.photographer-credit svg {
  height:  12px;
  width: auto;
  position: relative;
  vertical-align: middle;
  top:-1px;
  fill: white;
}

.photographer-credit svg {
  display: inline-block;
  padding: 2px 3px;
}

.tags a, .tags a:visited {
    color: #f44336;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.tags a:hover {
    color: #333;
}

.container.title {
    margin-top: 75px;
}
.container.md {
    padding-top: 20px;
}

.container.md img {
    width: 100%;
}

.container.md pre, .container.md p code {
    background-color: #eeeeee;
    border-radius: 5px;
}
.container.md pre {
    padding: 16px;
}
.container.md p code {
    padding: 5px;
    color: #212529;
}
.container.md ul {
    padding-left: 5px;
}
.container.md ul li {
    list-style-type: disc;
    margin-left: 25px;
}
.container.md td, .container.md th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.container.md table {
    width: 100%;
}
.eupopup-button {
    color: #f44336;
}
.eupopup-button:hover, .eupopup-button:focus {
    color: #fff;
}
.article .fab {

    font-size: 30px;
}

#categories .post-category {
    padding-left: 15px;
}
#categories .post, #categories .post-preview, #tags .post {
    padding-left: 15px;
}
#categories .post-preview>a>.post-title {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
}
#categories .post-preview>.post-meta {
    margin-bottom: 0;
}

img.svg-icon {
    width: 1em;
}

