/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .brand-logo {
  padding: 5px;
}

nav .brand-logo, nav .brand-logo img {
  height: 100%;
}

nav .brand-logo span {
  padding-left: 10px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.contacts a {
  margin: 20px;
}

.section.bottom {
    position: absolute;
    bottom: 0;
    top: initial;
}

.photographer-credit {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}

.photographer-credit svg {
  height:  12px;
  width: auto;
  position: relative;
  vertical-align: middle;
  top:-1px; 
  fill: white;
}

.photographer-credit svg {
  display: inline-block;
  padding: 2px 3px;
}

.section.md img {
    width: 100%;
}

.section.md pre, .section.md p code {
    background-color: #eeeeee;
    border-radius: 5px;
}
.section.md pre {
    padding: 16px;
}
.section.md p code {
    padding: 5px;
}


.section.md ul li {
    list-style-type: disc;
    margin-left: 25px;
}

